<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

<resultMap type="Member" id="memberResultSet">
		<result column="mem_no" property="memNo"/>
		<result column="mem_id" property="memId"/>
		<result column="mem_pwd" property="memPwd"/>
		<result column="mem_img" property="memImg"/>
		<result column="mem_name" property="memName"/>
		<result column="mem_phone" property="phone"/>
		<result column="mem_email" property="email"/>
		<result column="mem_gender" property="gender"/>
		<result column="mem_birth" property="birth"/>
		<result column="mem_address" property="address"/>
		<result column="mem_certification" property="certification"/>
		<result column="mem_career" property="career"/>
		<result column="mem_status" property="status"/>
		<result column="mem_enroll" property="enrollDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="annual_leave" property="annualLeave"/>
		<result column="dept_code" property="deptCode"/>	
		<result column="job_code" property="jobCode"/>
		<result column="job_name" property="jobName"/>
		<result column="dept_name" property="deptName"/>			
	</resultMap>
	
 	<resultMap type="AppDoc" id="approvalDocumentResultSet">
		<result column="doc_no" property="docNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="doc_title" property="docTitle"/>
		<result column="doc_contents" property="docContents"/>
		<result column="doc_enroll_date" property="docEnrollDate"/>
		<result column="doc_retention" property="docRetention"/>
		<result column="doc_grade" property="docGrade"/>
		<result column="doc_status" property="docStatus"/>
		<result column="doc_form" property="docForm"/>
	</resultMap>
	
	<resultMap type="Attachment" id="approvalAttachmentResultSet">
		<result column="att_no" property="attNo"/>
		<result column="doc_no" property="docNo"/>
		<result column="att_origin_name" property="attOriginName"/>
		<result column="att_change_name" property="attChangeName"/>
		<result column="att_path" property="attPath"/>
		<result column="att_loadpath" property="attLoadpath"/>
	</resultMap>
	
	<resultMap type="ApprovalLine" id="approvalLineResultSet">
		<result column="doc_no" property="docNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="approval_status" property="approvalStatus"/>
		<result column="approval_order" property="approvalOrder"/>
	</resultMap>
	
	<resultMap type="Referer" id="refererResultSet">
		<result column="doc_no" property="docNo"/>
		<result column="mem_no" property="memNo"/>
	</resultMap>


	<!-- 부서별 사원 수 조회 -->
	<select id="businessCount" resultType="_int">
		select
		count(*)
		from employee
		where mem_status = 'Y'
		and dept_code = 'D3'
	</select>

	<select id="personnelCount" resultType="_int">
		select
		count(*)
		from employee
		where mem_status = 'Y'
		and dept_code = 'D2'
	</select>

	<select id="accountingCount" resultType="_int">
		select
		count(*)
		from employee
		where mem_status = 'Y'
		and dept_code = 'D5'
	</select>

	<select id="developerCount" resultType="_int">
		select
		count(*)
		from employee
		where mem_status = 'Y'
		and dept_code = 'D1'
	</select>

	<select id="planningCount" resultType="_int">
		select
		count(*)
		from employee
		where mem_status = 'Y'
		and dept_code = 'D4'
	</select>
	
	
	<!-- 부서별 사원 조회 -->
	<select id="businessList" resultMap="memberResultSet">
		
		select
			 
			    mem_name
              , dept_name
              , job_name
		  from employee
          join department using(dept_code)
          join jobgrade using(job_code)
         where dept_code = 'D3'
         order 
            by job_code desc
		
	</select>
	
	<select id="personnelList" resultMap="memberResultSet">
		
		select
			 
			    mem_name
              , dept_name
              , job_name
		  from employee
          join department using(dept_code)
          join jobgrade using(job_code)
         where dept_code = 'D2'
         order 
            by job_code desc
		
	</select>
	
	<select id="accountingList" resultMap="memberResultSet">
		
		select
			 
			    mem_name
              , dept_name
              , job_name
		  from employee
          join department using(dept_code)
          join jobgrade using(job_code)
         where dept_code = 'D5'
         order 
            by job_code desc
		
	</select>
	
	<select id="developerList" resultMap="memberResultSet">
		
		select
			 
			    mem_name
              , dept_name
              , job_name
		  from employee
          join department using(dept_code)
          join jobgrade using(job_code)
         where dept_code = 'D1'
         order 
            by job_code desc
		
	</select>	

	<select id="planningList" resultMap="memberResultSet">
		
		select
			 
			    mem_name
              , dept_name
              , job_name
		  from employee
          join department using(dept_code)
          join jobgrade using(job_code)
         where dept_code = 'D4'
         order 
            by job_code desc
		
	</select>

	<!-- 결재문서select -->
	<select id="selectListApprovalDocument" resultMap="approvalDocumentResultSet">
		select
		       doc_no
		     , doc_title
		     , mem_name
		     , to_char(doc_enroll_date, 'yyyy-mm-dd') "doc_enroll_date"
		     , doc_form
		     , doc_approval_status
		  from
		       approval_document ad
		  join
		       employee e
		    on e.mem_no = ad.mem_no
		 where 
		       doc_status = 'Y'		  
	</select>
	
	<select id="selectApprovalDocument" parameterType="_int" resultMap="approvalDocumentResultSet">
		select 
		       doc_no
		     , mem_name "mem_no"
		     , doc_title
		     , doc_contents
		     , to_char(doc_enroll_date, 'yyyy-mm-dd') "doc_enroll_date"
		     , doc_retention
		     , doc_grade
		     , doc_status
		     , doc_form
		  from 
		       approval_document ad
		  join 
		       employee e
		    on e.mem_no = ad.mem_no
		 where doc_no = #{docNo}
		 
	</select>
	<select id="selectApprovalLine">
		select
		       doc_no
		     , mem_name
		     , job_name
		     , approval_status
		     , approval_order
		  from 
		       approval_line al
		  join 
		       employee e
		    on 
		       e.mem_no = al.mem_no
		  join 
		       jobgrade j
		    on 
		       j.job_code = e.job_code
		 where 
		       doc_no = #{ docNo }
	</select>
	<select id="selectApprovalReferer">
		select
		       doc_no
		     , mem_name
		  from
		       referer r
		  join 
		       employee e
		    on 
		       e.mem_no = r.mem_no
		 where
		       doc_no = #{ docNo }
	</select>

	<!-- 결재문서insert -->	
	<insert id="insertApprovalDocument" parameterType="AppDoc">
		insert
		  into approval_document
		  (
		     doc_no
		   , mem_no
		   , doc_title
		   , doc_contents
		   , doc_enroll_date
		   , doc_retention
		   , doc_grade
		   , doc_status
		   , doc_form
		   , doc_approval_status
		  )
		  values
		  (
		     seq_apno.nextval
		   , #{memNo}
		   , #{docTitle}
		   , #{docContents}
		   , #{docEnrollDate}
		   , #{docRetention}
		   , #{docGrade}
		   , #{docStatus}
		   , #{docForm}
		   , #{docApprovalStatus}
		  )
	</insert>

	<insert id="insertApprovalAttachment" parameterType="Attachment">
		insert
		  into approval_attachment
		  (
		     att_no
		   , doc_no
		   , att_origin_name
		   , att_change_name
		   , att_path
		   , att_loadpath
		  )
		  values
		  (
		     seq_aano.nextval
		   , seq_apno.currval
		   , #{attOriginName}
		   , #{attChangeName}
		   , #{attPath}
		   , #{attLoadpath}
		  )
	</insert>
	
	<insert id="insertApprovalLine" parameterType="ApprovalLine">
		insert
		  into approval_line
		  (
		     doc_no
		   , mem_no
		   , approval_status
		   , approval_order
		  )
		  values
		  <foreach collection="list" item="apLineList" separator=",">
			  (
			     seq_apno.currval
			   , #{apLineList.memNo}
			   , null
			   , #{apLineList.approvalOrder}
			  )
		  </foreach>
	</insert>
	
	<insert id="insertApprovalReferer" parameterType="Referer">
		insert
		  into referer
		  (
		     doc_no
		   , mem_no
		  )
		  values
		  <foreach collection="list" item="refererList" separator=",">
			  (
			     seq.currval
			   , #{refererList.memNo}
			  )
		  </foreach>
	</insert>

</mapper>