<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">

	<resultMap type="Member" id="memberResultSet">
		<result column="mem_no" property="memNo"/>
		<result column="mem_id" property="memId"/>
		<result column="mem_pwd" property="memPwd"/>
		<result column="mem_img" property="memImg"/>
		<result column="mem_name" property="memName"/>
		<result column="mem_phone" property="phone"/>
		<result column="mem_email" property="email"/>
		<result column="mem_gender" property="gender"/>
		<result column="mem_birth" property="birth"/>
		<result column="mem_address" property="address"/>
		<result column="mem_certification" property="certification"/>
		<result column="mem_career" property="career"/>
		<result column="mem_status" property="status"/>
		<result column="mem_enroll" property="enrollDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="annual_leave" property="annualLeave"/>
		<result column="dept_code" property="deptCode"/>	
		<result column="job_code" property="jobCode"/>
		<result column="job_name" property="jobName"/>
		<result column="dept_name" property="deptName"/>		
	</resultMap>


<select id="loginMember"
        parameterType="Member"
        resultMap="memberResultSet">
	SELECT
	       MEM_NO
	     , MEM_ID
	     , MEM_PWD
	     , MEM_IMG
	     , MEM_NAME
	     , MEM_PHONE
	     , MEM_EMAIL
	     , MEM_GENDER
	     , MEM_BIRTH
	     , MEM_ADDRESS
	     , MEM_CERTIFICATION
	     , MEM_CAREER
	     , MEM_STATUS
	     , MEM_ENROLL
	     , MODIFY_DATE
	     , ANNUAL_LEAVE
	     , DEPT_CODE
	     , JOB_CODE
	     , JOB_NAME
         , DEPT_NAME
	 FROM EMPLOYEE
     JOIN DEPARTMENT USING (DEPT_CODE)
     JOIN JOBGRADE USING (JOB_CODE)
	WHERE MEM_ID = #{memId}
	  <!--AND MEM_PWD = #{memPwd}-->
	  AND MEM_STATUS = 'Y'
</select>


<select id="searchId" parameterType="Member" resultMap="memberResultSet">
 SELECT MEM_ID
 	  , MEM_NAME
   FROM EMPLOYEE
   WHERE MEM_NAME = #{memName}
     AND MEM_BIRTH = #{birth}
     AND MEM_PHONE = #{phone}
     AND MEM_STATUS = 'Y'
</select>


<select id="searchPwd" parameterType="Member" resultMap="memberResultSet">
 SELECT MEM_PWD
 	  , MEM_NAME
 	  , MEM_ID
   FROM EMPLOYEE
   WHERE MEM_NAME = #{memName}
     AND MEM_ID = #{memId}
     AND MEM_BIRTH = #{birth}
     AND MEM_PHONE = #{phone}
     AND MEM_STATUS = 'Y'
</select>

<update id="updatePwd" parameterType="Member">
   UPDATE
          EMPLOYEE
      SET MEM_PWD = #{memPwd}
        , MODIFY_DATE = SYSDATE
    WHERE MEM_ID = #{memId}
</update>

 
<insert id="insertBusiness" parameterType="BusinessTrip">
	INSERT
	  INTO BUSINESS_TRIP
	  (
	       BUSINESS_NO
	     , BU_PROPOSER 
	     , CREATE_DATE
	     , BUSINESS_START
	     , BUSINESS_END
	     , BUSINESS_PLACE
	     , BUSINESS_PHONE
	     , BUSINESS_PURPOSE
	     , BUSINESS_PLAN
	     , BUDGET
	     , BU_STATUS
	  )
	  VALUES
	  (
	       SEQ_BNO.NEXTVAL
	     , #{buProposer}
	     , DEFAULT
	     , #{businessStart}
	     , #{businessEnd}
	     , #{businessPlace}
	     , #{businessPhone}
	     , #{businessPurpose}
	     , #{businessPlan}
	     , #{budget}
	     , DEFAULT
	  )
</insert>
 

</mapper>
