<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResultSet">
		<result column="mem_no" property="memNo"/>
		<result column="mem_id" property="memId"/>
		<result column="mem_pwd" property="memPwd"/>
		<result column="mem_img" property="memImg"/>
		<result column="mem_name" property="memName"/>
		<result column="mem_phone" property="phone"/>
		<result column="mem_email" property="email"/>
		<result column="mem_gender" property="gender"/>
		<result column="mem_birth" property="birth"/>
		<result column="mem_address" property="address"/>
		<result column="mem_certification" property="certification"/>
		<result column="mem_career" property="career"/>
		<result column="mem_status" property="status"/>
		<result column="mem_enroll" property="enrollDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="annual_leave" property="annualLeave"/>
		<result column="dept_code" property="deptCode"/>	
		<result column="job_code" property="jobCode"/>
		<result column="job_name" property="jobName"/>
		<result column="dept_name" property="deptName"/>			
	</resultMap>

	<select id="selectMemberList" resultMap="memberResultSet">
		select
			    mem_no
			  , mem_id
			  , mem_pwd
			  , mem_img
			  , mem_name
			  , mem_phone
			  , mem_email
			  , mem_gender
			  , mem_birth
			  , mem_address
			  , mem_certification
			  , mem_career
			  , mem_status
			  , mem_enroll
			  , modify_date
			  , annual_leave
			  , dept_code
			  , job_code
              , dept_name
              , job_name
		  from employee
          join department using(dept_code)
          join jobgrade using(job_code)
         order 
            by mem_no asc
	</select>
	
	<select id="detailView" 
			resultMap="memberResultSet"
			parameterType="_int">
		select
			    mem_no
			  , mem_id
			  , mem_pwd
			  , mem_img
			  , mem_name
			  , mem_phone
			  , mem_email
			  , mem_gender
			  , mem_birth
			  , mem_address
			  , mem_certification
			  , mem_career
			  , mem_status
			  , mem_enroll
			  , modify_date
			  , annual_leave
			  , dept_code
			  , job_code
              , dept_name
              , job_name
		  from employee
          join department using(dept_code)
          join jobgrade using(job_code)
         where mem_no = #{memNo}
	</select>
	
	<select id="selectListCount" resultType="_int">
		select 
		       count(*)
		  from employee
		 where mem_status = 'Y'
	</select>
	
	<insert id="memberEnroll" parameterType="Member">
		insert
			  into EMPLOYEE
			  (  MEM_NO
			   , MEM_ID
			   , MEM_PWD
			   , MEM_IMG
			   , MEM_NAME
			   , MEM_PHONE
			   , MEM_EMAIL
			   , MEM_GENDER
			   , MEM_BIRTH
			   , MEM_ADDRESS
			   , MEM_CERTIFICATION
			   , MEM_CAREER
			   , MEM_STATUS
			   , MEM_ENROLL
			   , DEPT_CODE
			   , JOB_CODE
			  )
			  VALUES
			  (  SEQ_ENO.NEXTVAL
			   , #{memId}
			   , #{memPwd}
			   , #{memImg}
			   , #{memName}
			   , #{phone}
			   , #{email}
			   , #{gender}
			   , #{birth}
			   , #{address}
			   , #{certification}
			   , #{career}
			   , 'Y'
			   , #{enrollDate}
			   , #{deptCode}
			   , #{jobCode}
			  )
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="_int">
		select 
		       count(*)
		  from employee
		 where mem_id = #{memId}
	</select>
	
	<select id="searchListCount" resultType="_int">
		select 
		       count(*)
		  from employee
		  join department using(dept_code)
          join jobgrade using(job_code)
		  <choose>
          	<when test="selectList eq 'mem'">
		    	where mem_name
		    </when>
		    <when test="selectList eq 'dept'">
		       	where dept_name
		    </when>
		    <when test="selectList eq 'job'">
		       	where job_name
		    </when>
          	<otherwise>
          		where mem_status
          	</otherwise>
          </choose>
               like '%'||#{keyword}||'%'
	</select>
	
	<select id="searchList" parameterType="hashmap" resultMap="memberResultSet">
		select
			    mem_no
			  , mem_id
			  , mem_pwd
			  , mem_img
			  , mem_name
			  , mem_phone
			  , mem_email
			  , mem_gender
			  , mem_birth
			  , mem_address
			  , mem_certification
			  , mem_career
			  , mem_status
			  , mem_enroll
			  , modify_date
			  , annual_leave
              , dept_name
              , job_name
              , dept_code
              , job_code
		  from employee
          join department using(dept_code)
          join jobgrade using(job_code)
          <choose>
          	<when test="selectList == 'mem'">
		    	where mem_name
		    </when>
		    <when test="selectList == 'dept'">
		       	where dept_name
		    </when>
		    <when test="selectList == 'job'">
		       	where job_name
		    </when>
          	<otherwise>
          		where mem_status
          	</otherwise>
          </choose>
               like '%'||#{keyword}||'%'
         order 
            by mem_no asc
	</select>
	
	<update id="memberUpdate" parameterType="Member">
		UPDATE
		        EMPLOYEE
		   SET  MEM_ID = #{memId}
		   	  , MEM_PWD = #{memPwd}
		      , MEM_IMG = #{memImg}
		      , MEM_NAME = #{memName}
		      , MEM_PHONE = #{phone}
		      , MEM_EMAIL = #{email}
		      , MEM_GENDER = #{gender}
		      , MEM_BIRTH = #{birth}
		      , MEM_ADDRESS = #{address}
		      , MEM_CERTIFICATION = #{certification}
		      , MEM_CAREER = #{career}
		  <!--    , MEM_STATUS = 'Y' -->
		      , MEM_ENROLL = #{enrollDate}
		      , DEPT_CODE = #{deptCode}
		      , JOB_CODE = #{jobCode}
		  WHERE MEM_NO = #{memNo}
	</update>
	
	<select id="getPass" parameterType="String" resultType="String">
		select 
		       mem_pwd
		  from employee
		 where mem_id = #{delId}
	</select>
	
	<update id="deleteMember">
		update
		       employee
		   set mem_status = 'N'
		 where mem_no = #{ delNo }
	</update>
	
</mapper>