<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.ITWorks.approval.model.vo.ApprovalDocument" alias="AppDoc"/>
		<typeAlias type="com.kh.ITWorks.member.model.vo.Member" alias="Member"/>
	</typeAliases>
	
	
	
	<mappers>
		<mapper resource="/mappers/approval-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
	</mappers>
	
</configuration>